/**
 * Fluid background, fixed content
 */
 
header, section, footer {
	padding: 1em calc(50% - 550px);
}

footer {
	background: #333;
	color: white;
}

header {
	background: #95927d;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}



section + section {
	background: moccasin;
}

#diffcontainer {

	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #cc99cc;
	padding: 1em calc(50% - 750px);
}

body {
	margin: 0;
	font: 100%/1.5 sans-serif;

}

div {

	border: dotted 2px;
	margin: 1em;
	padding: .5em;
}

h1 {
	text-align: center;
}


p {
	text-align: left;
	font-size: 20px;
}