/**
 * Fluid background, fixed content
 */
 
header, section, footer {
	padding: 1em calc(50% - 550px);
}

footer {
	background: #333;
	color: white;
}

header {
	background: #95927d;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}



section + section {
	background: moccasin;
}

#diffcontainer {

	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #cc99cc;
	padding: 1em calc(50% - 750px);
}

body {
	margin: 0;
	font: 100%/1.5 sans-serif;

}

header > div {

	border: dotted 2px;
	margin: .5em;
	padding: .5em;
	color: white;
}

h1 {
	text-align: center;
}


p {
	text-align: left;
	font-size: 20px;
}

.container {
          display: -ms-grid;
          display:     grid;
          -ms-grid-columns: 50px 50px 50px;
              grid-columns: 50px 50px 50px;
          -ms-grid-rows: 50px 50px;
              grid-rows: 50px 50px;
        }
        
        .container .item1 {
          -ms-grid-column: 1;
              grid-column: 1;
          -ms-grid-row: 1;
              grid-row: 1;
        }
        
        .container .item2 {
          -ms-grid-column: 2;
              grid-column: 2;
          -ms-grid-row: 1;
              grid-row: 1;
        }
        
        .container .item3 {
          -ms-grid-column: 1;
              grid-column: 1;
          -ms-grid-row: 2;
              grid-row: 2;
        }
        
        .container .item4 {
          -ms-grid-column: 2;
              grid-column: 2;
          -ms-grid-row: 2;
              grid-row: 2;
        }

div .container {

	padding: 1em calc(50% - 950px);
}