/**
 * Fluid background, fixed content
 */
 
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');


header, section, footer {
	padding: 1em calc(50% - 550px);
}

.wrapper{

	position:relative;
	height: 600px;
	background: lightblue;
}

.wrapper img {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}

header {
	background: #95927d;
	color: white;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

section {

	background: ;
	padding-left: 2em;
	padding-right: 2em;
}


section + section {
	background: moccasin;
	padding-left: 2em;
	padding-right: 2em;
	border-top-left-radius:20em 10em;
	border-top-right-radius: 20em 10em;
	border-bottom-right-radius:20em 10em;
	border-bottom-left-radius:20em 10em;

}



#diffcontainer {

	display: flex;
	flex-direction: row;
	justify-content: center;
	background: #cc99cc;
	padding: 1em calc(50% - 750px);
	padding-left: 2em;
	padding-right: 2em;
	border-top-left-radius:20em 10em;
	border-top-right-radius: 20em 10em;
	border-bottom-right-radius:20em 10em;
	border-bottom-left-radius:20em 10em;
	
}

#images {

	background: #FFA07A;
}

body {
	margin: 0;
	font: 100%/1.2 sans-serif;
	font-family: 'Dancing Script', cursive;
	font-size: 2em;
	background: darkkhaki;

}

header > div {

	padding: .5em;
	color: white;
}

h1 {
	text-align: center;
    padding-left: .5em;
	padding-right: .5em;
}


p {
	text-align: left;
	font-size: 1.2em;
	padding-left: .5em;
	padding-right: .5em;
}

svg {

	position: relative;
	left: 50%;
	height: 10em;
	width: 10em;
	z-index: 100;
	padding: 2em;
}



/* blocks with slant line */

.hero {
    background: #0A7A99;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    margin-bottom: 200px;
    padding-top: 80px;
}

  .hero:after {
    background: inherit;
    bottom: -140px;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(4deg);
    transform-origin: 100%;
    z-index: -1;
  }

h1 {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

/* Fix/hack for 1080p+ displays */
@media screen and (min-width: 1921px) {
    .hero {
      padding-bottom: 5px;
      margin-bottom: 240px !important;
    }

    .hero:after {
      bottom: -220px !important;
  }
}


.container {
			background-image: url(mount-no-opasity.jpg);
			color: white;
          display: -ms-grid;
          display:     grid;
          -ms-grid-columns: 50px 50px 50px;
              grid-columns: 50px 50px 50px;
          -ms-grid-rows: 50px 50px;
              grid-rows: 50px 50px;
        }
        
        .container .item1 {
          -ms-grid-column: 1;
              grid-column: 1;
          -ms-grid-row: 1;
              grid-row: 1;
        }
        
        .container .item2 {
          -ms-grid-column: 2;
              grid-column: 2;
          -ms-grid-row: 1;
              grid-row: 1;
        }
        
        .container .item3 {
          -ms-grid-column: 1;
              grid-column: 1;
          -ms-grid-row: 2;
              grid-row: 2;
        }
        
        .container .item4 {
          -ms-grid-column: 2;
              grid-column: 2;
          -ms-grid-row: 2;
              grid-row: 2;
        }

div .container {

	padding: 1em calc(50% - 950px);
}

footer {

	background: sandybrown;
	color: white;
	padding-left: 2em;
	padding-right: 2em;
}