/**
 * Fluid background, fixed content
 */

@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Chilanka|Permanent+Marker&display=swap');




header, section, footer {
	padding: 1em calc(50% - 550px);

}

p {

	margin-bottom: 2em;
}


header {

	height: 12%;
	background:papayawhip;
}

header div svg {

	float: right;
	z-index: 20;
}

nav {

	font-size: 160% !important;
}

#i-music {
	position: absolute;
	width: 32px;
}

#carusel {

	background: ivory;
	border-radius: 30px !important;
}



#house-color{

	background:url(../images/colin-watts-stone-08-opasity.jpg);
	mask-image: linear-gradient(to right; white, transparent) !important;
	font-family: 'Permanent Marker', cursive;
	font-weight: 500 !important;
	font-size:80% !important; 
	color: #fff;

}

#house-color img{

	float: right;

}



/* add media types for 1920 screens */

#house-color p {

	margin-bottom: 10vw;
	background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
	background: linear-gradient(to right, rgba(62,59,68,.6), rgba(255,0,0,0));
	
}

#house{

	z-index: 20;
}


#hi {

	position: relative;
	z-index: 20;
}

#overl {

	height: auto;
	background:lightyellow;
	font-weight: 500;
}

#overl svg {

	position: relative;
	float: right;
}

#overl svg#Layer_2 {

	position: relative;
	float: left;
}
.wrapper1{
	background-image: url(../images/sergii-gulenok-yacht.jpg) !important;
	background-size: cover;
	background-repeat: no-repeat;
	/* mask-image: linear-gradient(to top right, transparent 49.5%, white 50.5%), linear-gradient(to top
	left, transparent 49.5%, white 50.5%), linear-gradient(white, white) !important;
	mask-size: 75% 25%, 25% 25%, 100% 75%;
	mask-position: bottom left, bottom right, top left;
	mask-repeat: no-repeat; */
	position:relative;
	border-radius: 1vh;
	height: 800px;
}

.not-radius {

	border-radius: none !important;
}

.wrapper1 img {

	background: rgba(255,255,224,.5);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;

}

#lilwayne img {

	border-radius: 50%;

}

#lilwayne {

	background: #6c757d;
	color: white;

	display: grid;
	grid-gap: 5%;
	grid-template-columns: repeat(4, [col] auto );
	grid-template-rows: repeat(1, [row] auto );
	height: auto;
    position: relative;
    padding-bottom: 5% !important;

}

section#lilwayne {

	border-radius: 4vw;
}

#lilwayne div {

	background-color: bisque;
	border-radius: 1vh;
}


.k {

	grid-column: 1;
	grid-row: 1;
	margin-right: auto;
	margin-left: auto;

}

.l {

	grid-column: 2;
	grid-row: 1;
	margin-right: auto;
	margin-left: auto;


}

.m {

	grid-column: 3;
	grid-row: 1;
	margin-right: auto;
	margin-left: auto;


}

.n {

	grid-column: 4;
	grid-row: 1;
	margin-right: auto;
	margin-left: auto;

}

@media all and (max-width: 1100px) {


	#lilwayne {

	display: grid;
	grid-gap: 5%;
	grid-template-columns: repeat(2, [col] auto ) ;
	grid-template-rows: repeat(2, [row] auto );
	height: auto;
	}

	img {


		position: relative;
		justify-content: center !important;

	}


	.k {

	grid-gap: 50px;
	grid-column: 1;
	grid-row: 1;
	margin-right: auto;
	margin-left: auto;


}

.l {

	grid-column: 2;
	grid-row: 1;
	grid-gap: 50px;
	margin-right: auto;
	margin-left: auto;


}

.m {

	grid-column: 1;
	grid-row: 2;
	grid-gap: 50px;
	margin-right: auto;
	margin-left: auto;


}

.n {

	grid-column: 2;
	grid-row: 2;
	grid-gap: 50px;
	margin-right: auto;
	margin-left: auto;


	}

}

@media all and (max-width: 600px) {


	#lilwayne {

	display: grid;
	grid-gap: 5%;
	grid-template-columns: repeat(1, [col] auto ) ;
	grid-template-rows: repeat(4, [row] auto );
	height: auto;

	}



	.k {

	grid-gap: 50px;
	grid-column: 1;
	grid-row: 1;
	margin-right: auto;
	margin-left: auto;

}

.l {

	grid-column: 1;
	grid-row: 2;
	grid-gap: 50px;
	margin-right: auto;
	margin-left: auto;


}

.m {

	grid-column: 1;
	grid-row: 3;
	grid-gap: 50px;
	margin-right: auto;
	margin-left: auto;


}

.n {

	grid-column: 1;
	grid-row: 4;
	grid-gap: 50px;
	margin-right: auto;
	margin-left: auto;

	}

}



#lilwayne > img {

	position: relative;
	border-radius:50% !important;

}


section {

	background: inherit; ;
	padding-left: 2em;
	padding-right: 2em;
}


section + section {

	background: moccasin;
	padding-left: 2em;
	padding-right: 2em;
	border-top-left-radius:20em 10em;
	border-top-right-radius: 20em 10em;
	border-bottom-right-radius:20em 10em;
	border-bottom-left-radius:20em 10em;

}



#diffcontainer {
	/*background: #cc99cc;*/
	background-image: url(../images/ryu-wong-web-opasity-06.jpg) !important;
	background-size:;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 1em calc(50% - 750px);
	padding-left: 2em;
	padding-right: 2em;
	border-top-left-radius:20em 10em;
	border-top-right-radius: 20em 10em;
	border-bottom-right-radius:20em 10em;
	border-bottom-left-radius:20em 10em;
	color: black;
	z-index: 10;

}



#images {

	background: #FFA07A;
	font-family:  'Concert One', sans-serif;

}

body {
	margin: 0;
	font: 100%/1.2 sans-serif;
	font-family: 'Dancing Script', cursive;
	font-size: 1.8rem !important;
	background: lightsalmon;

}




#lilwayne > div {


	padding: .5em;
	color: white;
}



h1 {
	text-align: center;
    padding-left: .5em;
	padding-right: .5em;
	font-weight: 800 !important;
}


p {
	text-align: left;
	font-size: 1.2em;
	padding-left: .5em;
	padding-right: .5em;
}

svg {

	position: relative;
	float: left;
	height: 20vw;
	width: 20vw;
	z-index: 100;
	padding: 1em;
}



/* block with slant line */

.hero {
    background-image: url(../images/stone-texture-1920.jpg) !important;
    font-family: Montserrat, sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    margin-bottom: 250px;
    padding-top: 80px;
    padding-bottom: 200px;
}

  .hero:after {
    background: inherit;
    bottom: -140px;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(6deg);
    transform-origin: 100%;
    z-index: -1;
  }

h1 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
}

.hero h1 {
  padding-top: 0;
  padding-bottom: 10vw;
  text-align: center;
}


/* block with slant line */

.hero1 {
    
    background-image: url(../images/marjan_blan-web9.jpg) !important;
    font-family: 'Chilanka', cursive;
    color: #fff;
    position: relative;
    z-index: 1;
    margin-top: -1px;
    margin-bottom: 250px;
    padding-top: 80px;
    padding-bottom: 150px;
    margin-bottom: 300px;
}

  .hero1:after {
    background: inherit;
    bottom: -140px;
    content: '';
    display: block;
    height: 50%;
    left: 0;
    position: absolute;
    right: 0;
    transform: skewY(-6deg);
    transform-origin: 100%;
    z-index: -1;
  }

h1 {
  padding-top: 2vw;
  padding-bottom: 2vw;
  text-align: center;
}

.hero1 h1 {
  margin-top: 5vw;
  margin-bottom: 10vw;
  text-align: center;
  background: rgba(0,0,0,.5);
}

.hero1 p {
  padding-left: 5vw;
  padding-right: 5vw;
  text-align: center;
  background: rgba(0,0,0,.5);
}

body {
  margin: 0;
  padding: 0;
}

/* Fix/hack for 1080p+ displays */
@media screen and (min-width: 1921px) {
    .hero {

      padding-bottom: 5px;
      margin-bottom: 240px !important;
    }

    .hero:after {
      bottom: -220px !important;
  }
}

#images {

	background: salmon;
}


.contain {
			background-image: url(../images/berries1.jpg);
			background-size: cover;
			color: #000;
          	display: -ms-grid;
          	display:     grid;
          	-ms-grid-columns: 50px 50px 50px;
              grid-columns: 50px 50px 50px;
          	-ms-grid-rows: 50px 50px;
              grid-rows: 50px 50px;
        }

        .contain .item1 {
          -ms-grid-column: 1;
              grid-column: 1;
          -ms-grid-row: 1;
              grid-row: 1;
        }

        .contain .item2 {
          -ms-grid-column: 2;
              grid-column: 2;
          -ms-grid-row: 1;
              grid-row: 1;
        }

        .contain .item3 {
          -ms-grid-column: 1;
              grid-column: 1;
          -ms-grid-row: 2;
              grid-row: 2;
        }

        .contain .item4 {
          -ms-grid-column: 2;
              grid-column: 2;
          -ms-grid-row: 2;
              grid-row: 2;
        }

div .contain {

	padding: 1em calc(50% - 950px);
}

 .contain p {

	background: rgba(255,255,255,.6) !important;
	z-index: 20;
}

/*
.wrapper {
		position: relative;
		background: inherit !important;
		margin: 2vw;
		display: grid;
    	grid-gap: 20px;
		grid-template-columns: repeat(5, [col] 18% ) ;
		grid-template-rows: repeat(3, [row] auto );
		background-color: #fff;
		color: #444;

	}

	.box {
		background-color: #444;
		color: #fff;
		border-radius: 20px;
		padding: 20px;
		font-size: 90%;
		z-index:10;

	}

	.a {
		grid-column: col / span  2;
		grid-row: row ;
	}
	.b {
		grid-column: col 3 / span  3 ;
		grid-row: row ;
		background-color: rgba(49,121,207,.5);
		color: #000000;
		margin: 2vw;
		padding:5vw !important;
		font-size: inherit;
	}
	.c {
		grid-column: col ;
		grid-row: row 2 ;
	}
	.d {
		grid-column: col 2 / span  3 ;
		grid-row: row 2 ;
	}

	.e {
		grid-column: col / span  5;
		grid-row: row 3;
	}

	.f {
		grid-column: col 3 / span 3;
		grid-row: row 2  ;
		background-color: rgba(49,121,207, 0.5);
		z-index: 20;
	}


@media (max-width: 600px) {

	body {

		font-size: 85%;

	}

	.box {
		background-color: #444;
		color: #fff;
		border-radius: 20px;
		padding: 20px;
		font-size: 90% !important;
		z-index:10;
	}



	.a {
		grid-column: col / span  5 !important;
		grid-row: row 1!important;

	}
	.b {
		grid-column: col / span  5 !important;
		grid-row: row 2!important;
		background-color: rgba(49,121,207,.5);
		color: #000000;
		font-size: inherit;
	}
	.c {
		grid-column: col / span 5 !important;
		grid-row: row 3 !important;
	}
	.d {
		grid-column: col  / span  5 !important;
		grid-row: row 4 !important;
	}

	.e {
		grid-column: col / span  5!important;
		grid-row: row 5!important;
	}

	.f {
		grid-column: col  / span 6!important;
		grid-row: row 6 !important;
		background-color: rgba(49,121,207, 0.5);
		z-index: 20;
	}
}

*/

ul {

	list-style-type: circle;

}



footer {

	background: sandybrown !important;
	background-image: url(../images/sergii-gulenok-yacht.jpg);
	/*background-image: url(../images/stone-texture-1920.jpg);*/
	color: white;
	padding-left: 2em;
	padding-right: 2em;
	margin-bottom: auto;
}
